.artsy-artist-info{
    margin: 20px auto;
    margin-bottom: 150px;
 }
 
 .arsty-artist-info-name{
     font-size: 18px;
 }
 
 .arsty-artist-info-nationality{
     font-size: 14px;
 }
 
 .arsty-artist-info-biography{
     font-size: 12px;
     margin: 0px auto;
     margin-bottom: 50px;
     text-align: justify;
     text-justify: inter-word;
 }
 